h1 = home_title(@tag)

= will_paginate @items, renderer: BootstrapPagination::Rails

.feed.row-fluid.transitions-enabled
  = render :partial => "feed/item", :collection => @items, :as => :item

= will_paginate @items, renderer: BootstrapPagination::Rails