.item{
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding: 12px;
  margin-bottom: 20px;
  margin-left: 0px !important;
  a{
    text-decoration: none;
  }
  h4{
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 8px;
  }
}